<form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-12">
      <button class="btn btn-success mr-3" (click)="onSave()" type="submit" [disabled]="!recipeForm.valid">Save</button>
      <button class="btn btn-danger" type="button">Delete</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="name" class="col-form-label font-weight-bold">Name</label>
        <input type="text" id="name" class="form-control" formControlName="name">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="imageUrl" class="col-form-label font-weight-bold">ImageUrl</label>
        <input type="text" id="imageUrl" class="form-control" formControlName="imageUrl">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <img src="" class="img-fluid">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="description" class="col-form-label font-weight-bold">Description</label>
        <textarea class="form-control" rows="6" id="description" formControlName="description"></textarea>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <div formArrayName="ingredients">
        <div *ngFor="let ingredient of ingredients.controls; let i = index" [formGroupName]="i">

          <div class="row">
            <div class="col-8">
              <div class="form-group">
                <input type="text" class="form-control" formControlName="name">
              </div>
            </div>
            <div class="col-2">
              <div class="form-group">
                <input type="number" min="0" class="form-control" formControlName="amount">
              </div>
            </div>
            <div class="col-2">
              <div class="form-group">
                <button type="button" class="btn btn-danger" (click)="removeIngredient(i)">X</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <button class="btn btn-primary" type="button" (click)="onAddIngredient()">Add Ingredient</button>
      </div>
    </div>
  </div>
</form>

