<div class="row">
  <div class="col-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action clearfix align-items-start">
        <div class="float-left">
          <h4 class="mb-1">Recipe Name</h4>
          <p class="mb-1">Recipe description</p>
        </div>

        <img class="img-fluid float-right d-inline"
             src="https://images.pexels.com/photos/1109197/pexels-photo-1109197.jpeg?cs=srgb&dl=cooking-dishes-herb-1109197.jpg&fm=jpg"
             style="max-height: 50px">

      </a>
    </div>
  </div>
</div>


<app-recipe-item></app-recipe-item>
